@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 800px;
  min-height: 400px;
  margin-inline: auto;
  border: 1px solid #000;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap; /*short hand for direction & wrap */
  align-content: space-evenly; /*align rows*/
}

.box {
  background-color: #000;
  min-width: 100px;
  min-height: 100px;
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
